@model TestingSystem.WEB.Models.Tests.ResultViewModel

@{
    ViewBag.Title = "Get Result";
}


<br/>

<div class="card">
    <div class="card-header">
        <h2>Results for @Model.UserName</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="text-center">User</th>
                <th class="text-center">Test</th>
                <th class="text-center">Correct answers</th>
                <th class="text-center">Passed</th>
            </tr>

            <tr>
                <td class="text-center">@Html.DisplayFor(modelItem => Model.UserName)</td>
                <td class="text-center">@Html.DisplayFor(model => Model.TestName)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => Model.Score)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => Model.IsPassed)</td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Pass a new test", "Index", "Test", null, new { @class = "btn btn-primary" })
    </div>
</div>



